# yaml-language-server: $schema=../../vendor/symfony/dependency-injection/Loader/schema/services.schema.json
services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/'
    exclude:
      - '../src/**/Handler.php'

  Redis:
    factory: ['@App\Infrastructure\RedisFactory', 'create']
